:root {
  /* background: url('./assets//backgroundImages/img2.png');  */
  background-color: #ccc;
   background-size: cover;
  background-position: center;
  width: 100vw;
  padding: 0.5rem;
  mix-blend-mode: multiply;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
*{
  box-sizing: border-box;

}

body {
  display: flex;
  place-items: center;
  align-items: center;
  text-align: center;
  justify-content: center;
  background-color: skyblue;
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.388);
  width: 98vw;
  padding: 10px;
  position: relative;
  margin-bottom: 30px;
  border-radius: 2%;

  /* box-shadow: 0 0  7px rgba(255, 228, 255,0.5); */
  /* border: 1px solid rgb(0, 144, 228); */

}
body .weather{
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
  height:100%;
  width: 97vw;
  min-width: 180px;
  max-width: 95%;
  padding: 4px 8px;
  border-radius: 5px;
  margin-top: 0;
  gap: 5px;
}

hr{
  color: white;
}

.header{
  top: 5px;
  width: inherit;
  display: flex;
  text-align: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content:space-around;
  padding:15px 10px;
}
.header {
  margin-top: 0px;
}
.header h1{
  color: white;
  padding-bottom: 5px;
  margin-top: 0px;
}
.header  h1 .location-icon{
  color: white;
  box-shadow: 0 0 7px rgba(0, 0, 0, 0.17);
  border: none;
  outline: none;
  border-radius: 100%;
  padding: 3px;
  font-size: 48px;
  overflow: hidden;
  border: 1px solid white;

  
}

.header .sun-icon{

  color: rgb(237, 169, 21);
  font-size: 50px;
  text-decoration: dotted;
  font-family: 'Times New Roman', Times, serif;
  animation: rotateSun 7s infinite;
  text-shadow:#1a1a1a; 
  padding-left: 20px;
}

.header .temp{
  width: 100vw;
  height: 100px;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
   color: white;
   display: flex;
   justify-content: space-around;
   /* flex-wrap: wrap; */
  /* border: 2px solid white; */
   flex-direction: row;
   border-radius: 3%;
   padding: 5px;
   animation: rotateBox 5s infinite;
   transition: 0.5s ease ease-in-out;
  margin-bottom: 0;
  margin-top: 0;
 }
 .temp div{
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding-left: 4px;
 }
 .temp div h2{
  font-size: 45px;
  font-family: 'Times New Roman', Times, serif;
 margin: 0px 2px;
 color: white;
 }
 .temp div h6{
   margin: 0px;
  padding-left: 1px;
  font-size: 15px;
  font-weight: bold;
  color: white;
 }
 .header .temp img{
  justify-content: flex-end;
  font-size: 50px;
  border-radius: 100%;
}

  .details{
  width: 97%;
  color: white;
  display: flex;
  justify-content: space-between;
  flex-direction: row;

  font-weight: bold;
  border-radius: 5px;
  padding: 5px 8px;
  /* border: 2px solid white; */


}
.details div{
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  flex-wrap: wrap;
  line-height: 30px;
  
  
}
.details div .sun-rise, .details div .sun-set{
  color: white;
  padding:  4px;
  border-radius: 100%;
  font-size: 60px;
  border-bottom: 1px solid white;
  
  
 
}

.details div h4{
  font-size: 16px;
  font-weight: bold;
  color: white;
  margin: 0px;
  background-color: skyblue;
  border-top: 5px solid white;
}
.details div h3{
  margin: 0px;
  font-weight: bold;
  color:white;
  background-color: skyblue;
}
 
  .cart-details{
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  overflow: hidden;
  height:100%;
  width: 100%;
  padding: 3px 6px;
}
.cart-details div{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-top: 1px solid white;
  border-bottom: 1px solid white;
  
}
.cart-details div h3{
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  color: white;

}
 .more-details{
  display: flex;
  justify-content: flex-start;
  margin: 5px;
  padding: 5px;
  padding-left: 20px;
  
}
.more-details button{
  display:flex;
  flex-direction: row;
  color: white;
  line-height: 12px;
  padding-top: 5px;
  border-radius: 5px;
  border: none;
  outline: none;
font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

  font-size: 18px;
  width: 150px;
  padding: 5px 9px;
  box-shadow: 0 0 7px rgba(0,0,0,0.1);
cursor: pointer;
border: 1px solid #fff;
background:transparent;
}
.more-details button .nav-icon{
  color: white;
  font-size: 25px;
 border-radius: 2px;
 margin: 0;
 margin-left: 5px;
 padding-left: 5px;
 cursor: pointer
}
.more-details-list{
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
  height:100%;
  width: 97vw;
  min-width: 180px;
  max-width: 95%;
  padding: 4px 8px;
  border-radius: 5px;
  margin-top: 0;
  gap: 5px;
}
.more-details-list h3{
  color: white;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.more-details-list p{
  color: white;
  font-family: Georgia, 'Times New Roman', Times, serif;
}
.more-details-list ul{
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  overflow: hidden;
  height:100%;
  width: 100%;
  padding: 3px 6px;

}
.more-details-list ul li{
  
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: space-between;
  padding:2px;
  border-top: 1px solid white;
  padding-bottom: 0%;
  line-height: 10px;
}
.more-details-list ul li p{
  font-weight: bold;
  font-family: Georgia, 'Times New Roman', Times, serif;
  color: white;
 
}
.more-details-list ul li div{
  margin-top: 20px;
  line-height: 6px;
}
.more-details-list ul li div h4{
  font-weight: bold;
  font-family: Georgia, 'Times New Roman', Times, serif;
  color: white;
  margin: 0px;
  line-height: normal;
}
.more-details-list ul li div h3{
  color: white;
  font-weight: bold;
  margin-top: 0px;
}
.more-details-list ul li img{
margin-top: 0;
padding-top: 0%;
width: auto;
}
.more-details-list ul li img 
p{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
p h1{
  color: white;
  font-weight: bold;
  font-size: 35px;
  font-family: 'Times New Roman', Times, serif;
  font-style: italic;
}
p .location-on-icon{
 font-size: 50px;
 color: white;
}
.footer{

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  line-height: 0px;
  margin-top: 10px;
  margin-left: 5px;
  
  width: 99vw;
  padding: 10px;
  padding-left: 25px;
  border-radius:1%;
  background-color:transparent;
}
.footer p, .footer h5{
  color: white;
  font-size: 16px;
  font-family: Georgia, 'Times New Roman', Times, serif;

}